body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

p {
    line-height: 1.75;
}

a {
    color: #fed136;
}

a:hover {
    color: #f7d66b !important;
}

.text-primary {
    color: #ffd53c !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-style: italic;
}

::-moz-selection {
    background: #fed136;
    text-shadow: none;
}

::selection {
    background: #d83b56;
    text-shadow: none;
}

img::-moz-selection {
    background: transparent;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.pl-brand {
    font-family: 'Courgette', cursive;
    font-size: 33px;
}

.bg-header {
    /*background-color: rgb(204, 141, 219);*/
    background-image: url(/imgs/computer-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    max-height: auto;
    padding: 250px;
}

.text-header {
    /*padding-top: 150px;*/
    padding-bottom: 100px;
    text-align: center;
    /*color: #881125;*/
    color: #fed136;
}

.icons {
    padding: 25px;
    align-content: center !important;
}

.icons-header {
    padding: 15px;
    color: #fed136;
    /*color: #d83b56;*/
}

.section-page {
    padding: 100px 0;
    margin: auto;
}

.section-head {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

.section-subhead {
    color: #000 !important;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.icons-social {
    padding: 5px;
    margin: auto;
}

.icons-social a {
    margin-right: 30px;
}

.about-section {
    margin-top: 80px;
}

.text-about {
    padding: 20px;
    margin: auto;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

.footer {
    padding: 200px;
}

.text-footer {
    color: #fff;
    padding: 40px;
}